
1_Express/node_modules/

6_perguntas_e_respostas/node_modules/

8_formacao_node/Agendamento/node_modules/

8_formacao_node/api_games/node_modules/

8_formacao_node/formulario/node_modules/

8_formacao_node/imagens/node_modules/

8_formacao_node/MercadoPago/node_modules/

8_formacao_node/NoSQL/node_modules/

8_formacao_node/outrosProjetos/1_upload/node_modules/

8_formacao_node/socketChat/socketio/node_modules/
