<h1>Dashboard, autenticado</h1>
<a href="/">Voltar</a>


<ul style="list-style: none;">
  {{#each itens}}
    <li>{{this}}</li> 
  {{/each}}
</ul>

{{#with data}}
<h1>{{id}}</h1>
<h1>{{title}}</h1>
{{/with}}
